.u-section-1 {
  background-image: url("images/3007283.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 674px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 60px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 31px auto 60px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-weight: 400;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-size: 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-size: 135%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-size: 220%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 57.93% 48.26%;
    background-size: auto 250%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1rem;
    margin-top: 55px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-top: 24px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1009px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 57px auto 0;
}

.u-section-2 .u-text-2 {
  width: 793px;
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto;
  width: 1140px;
  margin: 20px 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px 30px;
  min-height: 618px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-image-1 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 25px;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-size: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-image-2 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 25px;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 20px 0 0 auto;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-size: auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-image-3 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 25px;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  margin: 20px 0 0 auto;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-size: auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-image-4 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-4 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 25px;
}

.u-section-2 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-13 {
  font-style: italic;
  margin: 20px 0 0 auto;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-15 {
  margin: 37px auto 57px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    width: 155px;
  }

  .u-section-2 .u-image-2 {
    width: 155px;
  }

  .u-section-2 .u-image-3 {
    width: 155px;
  }

  .u-section-2 .u-image-4 {
    width: 155px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
  }

  .u-section-2 .u-group-1 {
    width: 377px;
  }

  .u-section-2 .u-image-2 {
    width: 300px;
  }

  .u-section-2 .u-group-2 {
    width: 377px;
  }

  .u-section-2 .u-image-3 {
    width: 300px;
  }

  .u-section-2 .u-group-3 {
    width: 377px;
  }

  .u-section-2 .u-image-4 {
    width: 300px;
  }

  .u-section-2 .u-group-4 {
    width: 377px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 245px;
  }

  .u-section-2 .u-group-1 {
    width: 265px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    width: 245px;
  }

  .u-section-2 .u-group-2 {
    width: 265px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    width: 245px;
  }

  .u-section-2 .u-group-3 {
    width: 265px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    width: 245px;
  }

  .u-section-2 .u-group-4 {
    width: 265px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2322px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-2 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-2 .u-text-7 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-3 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-4 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 0;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-left: 83px;
  }
}.u-section-3 {
  background-image: url("images/ccccc.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 763px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 382px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 342px;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px 30px 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 30px 0 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 342px;
}

.u-section-3 .u-container-layout-2 {
  padding: 40px 30px 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 30px 0 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 342px;
}

.u-section-3 .u-container-layout-3 {
  padding: 40px 30px 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 30px 0 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 282px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 282px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 487px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}